<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:fragment="styles_page">
    <link rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/icheck-bootstrap.min.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/wol.css}" type="text/css"/>

<!--DATATABLES-->
<!--    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}" type="text/css" charset="utf-8"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/responsive.bootstrap4.min.css}" type="text/css"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/buttons.bootstrap4.min.css}" type="text/css"/>-->

<!--OTRAS-->
<!--    <link rel="stylesheet" th:href="@{/css/jstree/style.min.css}" type="text/css"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" type="text/css"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/jquery-confirm.min.css}">-->
</html>